.zen_login-button {
    display: block;
    height: 69px;
    width: 320px;
    font: 0/0 a;
    background: no-repeat;
    background-size: 100% 100%;
}

.zen_login-facebook {
    background-image: url(../images/fb.png);
}

.zen_login-google {
    background-image: url(../images/plus.png);
}