<nav class="zen_navigation">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/user">Profile</a></li>
        <li><a href="rewards">Rewards</a></li>
        <li><a href="/task">New Task</a></li>
        <li><a href="/controlcenter">Control Center</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/">Logout</a></li>
    </ul>
</nav>

<input type="checkbox" id="zen_nav-trigger" class="zen_nav-trigger" />
<label for="zen_nav-trigger"></label>
