<nav class="zen_navigation">
    <ul>
        <li>Home</li>
        <li>Profile</li>
        <li>Alerts</li>
        <li>Control Center</li>
        <li>Settings</li>
        <li>Logout</li>
    </ul>
</nav>

<input type="checkbox" id="zen_nav-trigger" class="zen_nav-trigger" />
<label for="zen_nav-trigger"></label>

<section class="zen_site-container">
    <header>
        <h1>Zen</h1>
        <h2>Because less stress is best</h2>
    </header>
