<nav class="zen_navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/user">Profile</a></li>
        <li><a href="/task">New Task</a></li>
        <li><a href="/controlcenter">Control Center</a></li>
        <li>Settings</li>
        <li><a href="/">Logout</a></li>
    </ul>
</nav>

<input type="checkbox" id="zen_nav-trigger" class="zen_nav-trigger" />
<label for="zen_nav-trigger"></label>

<section class="zen_site-container">
    <header class="zen_header clearfix">
        <div class="zen_site-title">
            <h1>Zen</h1>
            <h2>Because less stress is best</h2>
        </div>
    </header>
    <div class="zen_main-container">
