<% include ../partials/header %>
        <% include ../partials/page_header %>

        <div class="zen_login-container">
            <a class="zen_login-button zen_login-facebook" href="/quote">Login with Facebook</a>
            <a class="zen_login-button zen_login-google" href="/quote">Login with Google+</a>
        </div>

<% include ../partials/footer %>
