<% include ../partials/header %>
        <% include ../partials/nav %>
        <% include ../partials/page_header %>
            <div class="zen_settings">
                <h1>Settings</h1>
                <form>
                    <label><input type="checkbox" checked />Push notifications</label>
                </form>
            </div>
<% include ../partials/footer %>