<%# TODO: variable checks
Task schema:
   { id: 456,
     user_id: 123,
     title: 'a title',
     type: 'task' or 'reminder',
     datetime: some timestamp,
     location: 'the schoolyard',
     notes: 'I like puppies'
   }

/task/123 edits task 123
%>

<% include ../partials/header %>
        <% include ../partials/page_header %>
            <div class="zen_task-edit">
            <h1>
            <% if (typeof task !== 'undefined') { %>Edit
            <% } else { %>New
            <% } %> task</h1>
                <div class="zen_task-summary">
                    <% if (typeof task !== 'undefined') { %>
                    <h4><%= task.title %></h4>
                    <div class="zen_task-info">
                        <h6><%= task.datetime %></h6>
                        <h6><%= task.location %></h6>
                        <h6><%= task.type %></h6>
                    </div>
                    <% } %>
                </div>
            </div>
<% include ../partials/footer %>
