<%# TODO: variable checks
Task schema:
   { id: 456,
     user_id: 123,
     title: 'a title',
     type: 'task' or 'reminder',
     datetime: some timestamp,
     location: 'the schoolyard',
     notes: 'I like puppies'
   }

/task/123 edits task 123
%>

<% include ../partials/header %>
        <% include ../partials/page_header %>
            <% if (typeof message !== 'undefined') { %>
                <div class="zen_system-message">
                    <%= message %>
                </div>
            <% } %>

            <div class="zen_task-edit">
            <h1>
            <% if (typeof task !== 'undefined') { %>Edit
            <% } else { %>New
            <% } %> task</h1>
                <form class="zen_task-form" method="post" action="/task<% if (typeof task !== 'undefined') { %>/<%= task.id %><% } %>">
                    <label>Title: <input type="text" name="title" <% if (typeof task !== 'undefined') { %>value="<%= task.title %>"<% } %> /></label>
                    <br /><label>Type: <input type="text" name="type" <% if (typeof task !== 'undefined') { %>value="<%= task.type %>"<% } %> /></label>
                    <br />
                    <button>Submit</button>
                </form>
            </div>
<% include ../partials/footer %>
