<%# TODO: variable checks
User schema:
   { id: 123,
     username: 'bob',
     photoUrl: 'cdn.zen.com/1234.jpg',
     zenlevel: 85,
     friends: { ... },
     posts: { ... }
   }
%>

<% include ../partials/header %>
        <% include ../partials/nav %>
        <% include ../partials/page_header %>
            <div class="zen_user-profile">
                <h1><%= user.username %></h1>
                <img class="zen_user-photo" src="<%= user.photoUrl %>" />
                <% include ../partials/dev/ipsum %>
            </div>
            <% include ../partials/zenbar %>
<% include ../partials/footer %>
